body {
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    padding: 50px;
}

.nav {
    width: 200px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff1c2;
}

.nav ul li {
    position: relative;
    border-bottom: 1px solid #f0d891;
}

.nav ul li a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background 0.3s;
}

.nav ul li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 180px;
    background: #ffe8a0;
}

.nav ul li:hover > ul {
    display: block;
}

.nav ul li ul li {
    border-bottom: 1px solid #f0d891;
}

.nav ul li ul li a:hover {
    background: #ffc966;
}