html, body {
    height: 100%;
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    text-align: center;
}

td {
    vertical-align: middle;
    font-size: 3rem;
    font-weight: bold;
}

td.left {
    background-color: #000000;
    color: #8B0000;
    width: 50%;
}

td.right {
    background-color: #8B0000;
    color: #000000;
    width: 50%;
}